{% extends 'base.html.twig' %}

{% block title %}I've changed the title!{% endblock %}

{% block body %}
    <div>
        {% if messageList|length > 0 %}
            {% for message in messageList %}
                <div>
                    {{ message }}
                </div>
            {% endfor %}
        {% else %}
            There's nothin here yet!
        {% endif %}
    </div>
{% endblock %}
